#buttonContainer {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:1rem
}
#color {
  background-color: #f6ae0e;
  height:5rem
}

#logo {
  width: 90px;
  height: 70px;
  margin-top:1rem
}
